* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

// navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: sticky;
  padding: 0 1rem;
  z-index: 1;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &__logo {
    color: #335576;
  }

  &__item {
    color: black;
    margin: 0 0.5rem;
    padding: 0.5rem 0;

    &--active {
      border-bottom: 4px solid #db7a4e;
    }
  }
}
// navbar

//hero
.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefaf5;
  padding: 5rem;

  &__left {
    color: #335576;
    width: 40rem;
  }
  &__img {
    width: 25rem;
  }
  &__button {
    display: inline-block;
    color: white;
    background-color: #db7a4e;
    padding: 0.5rem 2.3rem;
    border-radius: 30px;
    margin-top: 1rem;
  }
}
//hero

//destinations
.destinations {
  padding: 2rem 3rem 4rem 3rem;
  &__title {
    color: #335576;
  }
  &__locations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
  }
  &__card {
    position: relative;
  }
  &__img {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 16rem;
    height: 24rem;
  }
  &__name {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 20rem;
    left: 9rem;
  }
}

//footbar
.footbar {
  background-color: #fefaf5;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 2rem 2rem 0 2rem;

  &__email {
    margin-top: 2rem;
  }

  &__title {
    color: #335576;
  }
  &__type {
    font-size: 0.7rem;
    color: #db7a4e;
  }
  &__content {
    display: block;
    color: #335576;
    font-size: 0.9rem;
  }
  &__block {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__date {
    margin-right: 2rem;
  }
  &__icon {
    display: inline-block;
    margin-top: 2.5rem;
    margin-right: 1rem;
    height: 1.2rem;
  }
}
//footbar
