* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: sticky;
  padding: 0.5rem 1rem;
  z-index: 1;
  height: 4rem;
}
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: 6.5rem;
  }
}
.navbar__logo {
  display: block;
  color: #335576;
  font-weight: bold;
  font-size: 2rem;
  z-index: 2;
  transition: all 0.2s;
}
.navbar__logo:hover {
  animation: color 2s linear infinite;
}
@keyframes color {
  0% {
    color: #335576;
  }
  50% {
    color: #5bacc3;
  }
  100% {
    color: #335576;
  }
}
.navbar__logo:active {
  transform: scale(0.9);
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  color: black;
  margin: 0.5rem;
  padding: 0.5rem 0;
  width: 4rem;
  transition: all 0.2s;
}
.navbar__item--active {
  border-bottom: 4px solid #db7a4e;
}
.navbar__item:hover {
  color: #db7a4e;
  border-bottom: 5px solid #db7a4e;
}
.navbar__item:active {
  transform: scale(0.9);
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefaf5;
  padding: 5rem;
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 2rem 1.5rem;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    flex-direction: column;
  }
}
.hero__left {
  color: #335576;
  width: 40rem;
}
@media screen and (max-width: 1024px) {
  .hero__left {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .hero__left {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  .hero__left {
    width: 100vw;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
.hero__img {
  width: 25rem;
}
.hero__button {
  display: inline-block;
  color: white;
  background-color: #db7a4e;
  padding: 0.5rem 2.3rem;
  border-radius: 30px;
  margin-top: 1rem;
  transition: all 0.3s;
  width: 10.5rem;
  border: none;
}
.hero__button:hover {
  transform: scale(1.1);
}
.hero__button:active {
  scale: 0.9;
}

.footbar {
  background-color: #fefaf5;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 2rem 2rem 0 2rem;
}
@media screen and (max-width: 500px) {
  .footbar {
    flex-direction: column;
  }
}
.footbar__email {
  margin-top: 2rem;
}
.footbar__title {
  color: #335576;
}
.footbar__type {
  font-size: 0.7rem;
  color: #db7a4e;
}
.footbar__content {
  display: block;
  color: #335576;
  font-size: 0.9rem;
}
.footbar__block {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footbar__date {
  margin-right: 2rem;
}
.footbar__icon {
  display: inline-block;
  margin-top: 2.5rem;
  margin-right: 1rem;
  height: 1.2rem;
  transition: all 0.2s;
}
.footbar__icon:active {
  transform: scale(0.8);
}

.flex-box {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .flex-box {
    flex-direction: column;
  }
}

form {
  width: 50%;
  color: #335576;
}
@media screen and (max-width: 500px) {
  form {
    width: 100%;
  }
}

label {
  color: #335576;
  font-size: 1.5rem;
  width: 20%;
  text-align: left;
  margin-right: 1re1;
}

input {
  width: 70%;
  height: 2rem;
  font-size: 1.5rem;
  padding: 12px;
  border: none;
  background-color: #fefaf5;
  border-bottom: 2px solid #335576;
}
input:focus {
  outline: none;
}

.check {
  display: inline;
}

.container {
  display: flex;
  width: 2rem;
  margin: 1rem 1rem;
}/*# sourceMappingURL=learn-more.css.map */